@font-face {
    font-family: Mont;
    src: url(Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: MontIt;
    src: url(Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: MontBold;
    src: url(static/Montserrat-Bold.ttf);
}

body {
    margin: 0px;
}

/* Header-start */
header {
    background-color: #153e52;
    display: flex;
    height: 54px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    font-family: Mont;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

}

header>div#headP {
    color: white;
    padding: 8px;
}


header>div#headnav>a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 8px;

}

header>div#headnav>a:hover {
    color: #14bf98;
}

header>div#headP:hover {
    cursor: pointer;
}

div#icon {
    height: 26px;
    width: 26px;
    position: relative;
    margin-left: 8px;
}

div#icon>i {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 14px;
}

header>div#headnav {
    display: flex;
    align-items: center;
}

/* Header-end */

/* Business-start */


section#Business {
    position: relative;
    margin-top: 54px;
    background-image: url(ExamFiles/images/header-background.jpg);
    width: 100%;
    height: 100vh;



}

section#Business>div#BusinessP {
    text-align: center;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-family: Mont;
}

section#Business>div#BusinessP>h1 {
    font-size: 64px;
    margin: 32px 0px;
}

section#Business>div#BusinessP>a {
    display: inline-block;
    text-decoration: none;
    background-color: #14bf98;
    padding: 20px;
    color: white;
    border-radius: 8px;
    width: 100px;
    text-align: center;

}

/* Business-end */

/* Intro-start */
section#intro {
    background-color: aliceblue;
    display: flex;
    padding: 64px 16px;
    font-family: Mont;

}

section#intro>div#introP {
    padding: 16px;
    flex: 1;
}

section#intro>div#introImg {
    overflow: hidden;
    flex: 1;
}

section#intro>div#introImg img {
    width: 100%;
}

section#intro>div#introImg img:hover {
    transform: scale(1.15);
}



section#intro>div#introP>p {
    opacity: 0.8;
    font-family: MontIt;

}

@media screen and (max-width:1000px) {
    section#intro {
        flex-direction: column;
    }


}



/* Intro-end */

/* Plans-start */
section#plans {
    display: flex;
    background-color: aliceblue;
    font-family: Mont;
}

section#plans>div#plan1,
div#plan2,
div#plan3 {
    padding: 40px;
}

div#plan1>i {
    font-size: 64px;
}

div#plan2>i {
    font-size: 64px;
}

div#plan3>i {
    font-size: 64px;
}

div#plan1>p {
    opacity: 0.6;
}

div#plan2>p {
    opacity: 0.6;
}

div#plan3>p {
    opacity: 0.6;
}

@media screen and (max-width:1000px) {
    section#plans {
        flex-direction: column;
    }

}

section#plans div#icon {
    height: 96px;
    width: 96px;
}

section#plans div#icon>i {
    font-size: 32px;
}


/* plans-end */

/* service-start */
section#services {
    background-color: aliceblue;
    padding-top: 96px;
    width: 100%;
    font-family: Mont
}

section#services>div#top>h2 {
    text-align: center;
    margin-bottom: 96px;
}

section#services>div#top,
div#main {
    margin: 0px 65px;
}


section#services>div#main {
    display: flex;
}

section#services>div#main>div#card>div#cardMain>h3 {
    text-align: center;
}
section#services>div#main>div#card>div#cardMain {
    padding: 32px;
    border: 1px solid #ebe8e8;
}
section#services>div#main>div#card>div#cardMain>p#price {
text-align: center;
font-family: MontBold;
}

section#services>div#main>div#card>div#cardMain>ul  {
    list-style-type: square;
    lis
}


section#services>div#main>div#card {
    padding: 0px 32px;
}


section#services>div#main>div#card>div#cardImg>img {
    width: 100%;
    height: auto;
}